# Archives
*.tgz
*.tar
*.tar.gz
*.gz
*.zip
*.7z

# Installers (Splunk, Zeek, etc.)
*.deb
*.rpm
*.pkg
*.bin

# PCAPs
*.pcap
*.pcapng

# Zeek logs
logs_college_dns_noise/
*.log

# Generated images
*.png

# Python cache
__pycache__/
*.pyc

# Jupyter autosave checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Notebook outputs (optional)
*.nbconvert.ipynb

# OS junk
.DS_Store
Thumbs.db

# JSON files (all forms)
*.json
*.json.*
